@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
	@Styles.Render("~/Content/css")
</head>
<body>
    <div>
		<h1>Yay it's BrowserBlast</h1>
		<h2>Have a blast and stuff</h2>
		<h3>darren smells</h3>
    </div>

	@Scripts.Render("~/bundles/js")
	@Scripts.Render("~/bundles/ts")
	<script src="~/signalr/hubs"></script>
</body>
</html>
