@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
	@Styles.Render("~/Content/css")
</head>
<body>
    <div class="gameContainer">
		<iframe class="gameFrame"></iframe>
	</div>
	<button onclick="document.getElementsByTagName('iframe')[0].src='/Relay/cnn.com';">PRESS ME</button>

	@Scripts.Render("~/bundles/js")
	@Scripts.Render("~/bundles/ts")
	<script src="~/signalr/hubs"></script>
</body>
</html>
